.box{
    margin: 0 auto;
    border: solid 1px black;
    max-width: 700px;
    }
.title{
    text-align: center;
}
.campi{
    display: flex;
    flex-direction: column;;
    }
.label1{
        margin: 20px;
    }
.label2{
        margin: 20px;
    }
.label3{
    margin: 20px;
    }
#billNumber{
    margin-left: 132px;
}
#peopleNumber{
    margin-left: 75px;
}
#percentage{
    margin-left: 150px;
}
#calculate{
    display: block;
    margin: 0 auto;
}